SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

0 4 1 * * root setpriv --reuid=renamely --regid=renamely --init-groups /bin/sh -c '[ -f /app/env.sh ] && . /app/env.sh; exec /usr/local/bin/python /app/script.py' >> /proc/1/fd/1 2>&1
